/*<link rel= "stylesheet" type="text/css" href="style.css">*/
img{
    height:auto;
    width:auto;
}
#heading{
    height:10%;
    width:100%  ;
    background:black;
    color:white;
    position:sticky;
    top:0;
    padding-top:1%;
    padding-left:1%;
    z-index:10; 
    opacity:0.5;
              
}


#container{
    /*opacity:0.3;*/
    height:100vh;
    width:100%;
    /*background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.4)),url("self.jpg");*/
    background-size:100% 100%;
    background-repeat: no-repeat;
    
}
#container img{
    height:75%;
    width:50%;
    opacity:1;
    border: 3px solid black;
    top:25%;
    left:25%;
    position:absolute;
}
.pics{
    display:block;
    

}
#school{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url("book.jpg");
    background-size:100% 100%;
    
}
#one, #two{
    height:49%;
    width:auto;
    
}
#sjcs{
    margin:3%;
    opacity:1;
    
    float:left;
}
.grade{
    width:auto;
    margin-top:50px;
    float:left;
    
}
#mact{
   margin:3%;
    float:right;
    
   opacity:1;  
}
.grade1{
   float:right;
   margin:25px;
   margin-top:auto;
   
}
#certi{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url("hardware.jpg");
    background-size:100% 100%;
    
}
.certificates{
    display: none;
}
#lang{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url("compcode.jpg");
    background-size:100% 100%;
    
}
#lang img{
    margin:auto;
    transition:all 0.5s ease;
    -webkit-filter:blur(10px);
}
#lang img:hover{
    
    
    -webkit-filter:blur(0px);
}
.prev, .next {
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    /*margin-top: -22px;*/
    color: black;
    font-weight: bold;
    font-size: 75px;
    /*transition: 0.6s ease;*/
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity:1;
}
.next{
    right:0;
    border-radius:  3px 0 0 3px ;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}

#achNpart{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url("achievement.jpg");
    background-size:100% 100%;
    
}
#int{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)),url("interests.jpg");
    background-size:100% 100%;
    padding:1%;
} 
#int1{
    
    width:100%;
    height:49%;
    float:left;
    
}
#int1 div{
   width:49.5%;
   float:left;
   
   height:98%;
   vertical-align:middle;
   text-align:center;
}
#int1 h1{
   margin-top:2%;
}
#int1 img{
border: 3px solid black;

}
#achievements{
   width:100%;
   height:50%;
  /* line-height:200%;*/
  font-size:18px;
}
#projects{
   height:100%;
   width:49%;
   float:right;
   font-size:20px;
   letter-spacing:1.5px;
   word-spacing:1.5px;
   line-height:150%;
}
#participations{
   margin-top:0.5%;
    width:100%;
    font-size:18px;
   /*line-height:200%*/
}
#address{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url("add.jpg");
    background-size:100% 100%;
    
}

#footer{
    height:100px;
    width:100%;
    background:black;
    color:white;
    padding:15px;
    text-align:center;
  
             
}

#footer img{
    cursor:pointer;
   height:64px;
   width:64px;

}
#footer div{
   width:25%;
   float:left;
}